# Build files
bin/
obj/

# VS files
.vs/
enc_temp_folder/
*.sln
*.vcxproj
*.vcxproj.*

# VSCode files
.vscode/
coffeepot/
thirdparty/glad/glad
*.code-workspace

# Make files
Makefile
*.make

# Res files
*.aps
